

.home{
    display: flex;
    justify-content: space-around;
    
}
.home img{
    width: 60%;
}

.shoe{
    color: cadetblue;
}
.dsign{
    color: black;
}

.review-btn{
    padding: 10px;
    background-color: cadetblue;
    border-radius: 10px;
}

.review{
    margin-left: 80px;
    margin-right: 80px;
}
